<td class="song-track">
  <span class="track-number">{{song.track}}</span>
  <span class="play" {{action "toggle"}}>{{if isPlaying '❙❙' '▶'}}</span>
</td>
<td class="song-name">{{song.name}}</td>
<td class="song-duration">{{format-duration song.duration}}</td>

<td {{ action 'fav' }}>
{{if isFavorite 'fav' 'yuk'}}
</td>



